version: '3.6'
services:
  daemon:
    image: nginx:stable
    volumes:
      - ${HTTP_VOLUME_DATA:-./volumes/data}:/usr/share/nginx/html
    networks:
      - web
      - default
    configs:
      - source: http
        target: /etc/nginx/conf.d/default.conf
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=web"
        - "traefik.port=80"
        - "traefik.frontend.rule=Host:${HTTP_CONF_URL:-www.domain.com}"
        - "traefik.frontend.port=80"
configs:
  http:
    file: ./volumes/http.conf
networks:
  web:
    external: true

